body {
    background-color: #D6A431;
}
form {
    margin: 6px auto;
    width: 45%;
    background-color: #118ab2;
    height: 750px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px ;
}
form label ,input {
    display: block;
    text-transform: capitalize;
}
form label ,input {
    padding: 10px;
    width: 355px;
    margin-bottom: 12px;
    position: relative;
    left: 74px;
}
form input {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px #000;
    padding: 15px;
}
form input:nth-of-type(6) {
    background-color: #06d6a0;
    width: 386px;
    margin: 26px 0px 12px 0px;
    font-size: 20px;
    color: #FFF;
}

form input:nth-of-type(7) {
    background-color: #06d6a0;
    width: 386px;
    margin: 0px 0px 12px 0px;
    font-size: 20px;
    color: #FFF;
}

form label  {
    margin-bottom: -3px;
    margin-left: -6px;
    font-size: 20px;
}
form label  span {
    color: red;
}